* {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "nav" "header" "main" "footer";
  justify-content: stretch;
}

.container > * {
  grid-column: 2/12;
}

.App {
  text-align: center;
}

.App-nav {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.App-nav ul{
  display:flex;
  flex-wrap: wrap;
}

.App-nav li {
  list-style: none;
}

.App-nav a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin: 0 10px;
  padding: 10px;

}

.App-main {
  background-color: red;
}

.App-logo img{
 width: 28vw;
 max-width: 150px;
 height: auto;
}

.App-header {
  grid-area: header;
  grid-column: 2/12; /* Weirdly have to aply the grid column here in order to have 2 / 12 passed to the header, it was not accepeting  */
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  grid-area: footer;
  grid-column: 2 / 12;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 10px;
}

.App-footer-logo {
  width: 100%;
  max-width: 130px;
  height: auto;
  margin-left: 4%;
  padding-right: 6rem;
}

.App-footer ul p {
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 50px;
}

.App-footer li {
  margin-bottom: 6px;
  display: flex;
  justify-content: flex-start;
}

.App-footer a {
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}
