* {
  margin: 0;
  padding: 0;
}

.karla-regular {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.markazi-text-medium {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "nav" "header" "main" "footer";
  justify-content: stretch;
}

.container > * {
  grid-column: 3/11;
}

.App-nav {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem;
  align-items: center;
  flex-wrap: wrap;
}

.App-nav ul{
  display:flex;
  flex-wrap: wrap;
  /* margin-right: px; */
}

.App-nav li {
  list-style: none;
  font-size: 14pt;
}

.App-nav a {
  display: inline-block;
  text-decoration: none;
  margin: 0 5px;
  padding: 5px;
  color: rgb(0, 0, 0);
  font-weight: normal;
}

.App-logo img{
  width: 28vw;
  max-width:200px;
  height: auto;
}
.hamb {
  display: flex;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .App-nav {
    flex-direction: column;
    grid-column: 1 / -1;
    align-items: flex-start;
  }

  .App-nav ul {
   flex-direction: column;
   align-items: flex-start;
  }

  .App-logo img {
    width: 100%;;
  }
}

/* HEADER */

.App-header {
  grid-area: header;
  grid-column: 1 / -1;
  background-color: rgb(73, 94, 87);
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.App-header h1 {
  color: #f4ce14;
  font-size: 56pt;
  margin-bottom: -20px;
  margin-right: 20px;
}

.header-text {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.header-text p {
  grid-column-start: 3;
  grid-column-end: 7;
}

.header-text h1 {
  grid-column-start: 3;
  grid-column-end: 7;
  white-space: nowrap;
}

.header-text h2 {
  grid-column-start: 3;
  grid-column-end: 7;
}

.App-header h2 {
  color : whitesmoke;
  font-size: 28pt;
  margin-bottom: 20px;
}

.App-header p {
  color: whitesmoke;
  font-size: 14pt;
}

.App-header img {
  position: absolute;
  border-radius: 5%;
  width: 360px;
  height: 400px;
  z-index: 1;
  left: 64%;
  top: 11%;
}

.header-button {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  text-decoration: none;
  grid-column: 3 / 4;
}

.App-header button {
  grid-column: 3 / 4;
  background-color: #f4ce14;
  border: none;
  border-radius: 10px;
  padding: 10px 35px;
  margin-left: 10px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 11pt;
  cursor: pointer;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .App-header img {
    display: none; /* Hide the image */
  }

  .App-header h1, .App-header h2, .App-header p {
    grid-column: 1 / -1;
    text-align: center;
  }

  .App-header button {
    grid-column: 4 / 10;
    margin-bottom: 15px;
  }
}


/* MAIN */

.App-main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-column: 3 / 11;
  justify-content: center;
  margin-top: 105px;
  padding: 20px;
  gap: 20px;
  font-family: "Karla", sans-serif;
}

.App-main h1 {
  display: grid;
  font-size: 40pt;
  grid-column: 1 / span 6;
  padding-top: 10px;
}

.App-main button {
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 11pt;
  background-color: #f4ce14;
  cursor: pointer;
  justify-self: center;
  padding: 20px 50px;
}

.link-button {
  grid-column: 11 / span 2 ;
  justify-self: center;
  text-decoration: none;
  white-space: nowrap;
  padding-top: 10px;
}

.card-wraper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1/ span 12;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card-items {
  grid-column: span 4;
  gap: 5px;
  background: #EDEFEE;
  text-align: left;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  height: 100%;
  width: 100%;
  /* align-items: flex-start; */
}

.card-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 200px;
  object-fit: cover;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  flex-grow: 1;
  padding: 25px;
  margin: 0;
  box-sizing: border-box;
}

.card-description{
  flex-grow: 1;                     /* Pushes order section to bottom */
  display: flex;
  align-items: flex-start;          /* Ensure description starts from top */
  margin: 20px 0px;
  padding: 2px;
}

.card-items h5 {
  font-size: 14pt;
}

.card-title b {
  color: #ee9972;
}

.card-title {
display: flex;
justify-content: space-between;
/* margin: 0;
padding: 0; */
}

.order {
display: flex;
align-items: center;
justify-content: space-between;
}

.vespa {
  margin-left: 10px;
}

.card-text{
 align-self: end;
}

@media (max-width: 768px) {
  .App-main {
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    text-align: center;
    align-items: center;
  }

  .card-wraper {
    grid-column: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .card-items {
    width: 350px;
    height: auto;
  }

  .App-main button {
    grid-column: unset;
    margin-bottom: 30px;               /* Add space below the button */
  }

}

/* FOOTER */

.App-footer {
  grid-area: footer;
  grid-column: 3 / 11;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 10px;
}

.App-footer-logo {
  width: 100%;
  max-width: 130px;
  height: auto;
  margin-left: 4%;
  padding-right: 6rem;
}

.App-footer ul h3 {
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 80px;
}

.App-footer li {
  font-family: "Karla", sans-serif;
  margin-bottom: 6px;
  display: flex;
  justify-content: flex-start;
}

.App-footer a {
  text-decoration: none;
}

.App-link {
  color: #61dafb;
  /* text-decoration: none; */
}
