* {
  margin: 0;
  padding: 0;
}

/* Google Fonts */
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 700 */

.karla-regular {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.markazi-text-medium {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "nav" "header" "main" "footer";
  justify-content: stretch;
}

.container > * {
  grid-column: 3/11;
}

.App {
  text-align: center;
}

.App-nav {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

.App-nav ul{
  display:flex;
  flex-wrap: wrap;
}

.App-nav li {
  list-style: none;
  font-size: 16pt;
}

.App-nav a {
  display: inline-block;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px;
}



.App-logo img{
 width: 28vw;
 max-width:200px;
 height: auto;
}

.App-header {
  grid-area: header;
  background-color: rgb(73, 94, 87);
  justify-content: center;
}

.App-header h1 {
  color: #f4ce14;
  font-size: 56pt;
  margin-bottom: -20px;
}

.App-header h2 {
  color : whitesmoke;
  font-size: 28pt;
  margin-bottom: 20px;
}

.App-header p {
  color: whitesmoke;
  /* font-family: "Karla", sans-serif; */
  font-size: 14pt;
}

.App-main {
  background-color: red;
}

.App-footer {
  grid-area: footer;
  grid-column: 3 / 11;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 10px;
}

.App-footer-logo {
  width: 100%;
  max-width: 130px;
  height: auto;
  margin-left: 4%;
  padding-right: 6rem;
}

.App-footer ul h3 {
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 80px;
}

.App-footer li {
  font-family: "Karla", sans-serif;
  margin-bottom: 6px;
  display: flex;
  justify-content: flex-start;
}

.App-footer a {
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

h1 {

}
